{# Giscus comments partial. Opt-in: include this in your post.html via
   {% include "partials/giscus.html" %} after configuring the data-*
   attributes below. Free, GitHub-Discussions-backed, no tracking.
   See https://giscus.app to compute your repo/category/mapping. #}
<section class="comments">
  <script src="https://giscus.app/client.js"
          data-repo="OWNER/REPO"
          data-repo-id="..."
          data-category="General"
          data-category-id="..."
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="en"
          crossorigin="anonymous"
          async></script>
</section>
